@charset "UTF-8";
/*轮播图*/
.ban {
  width: 900px;
  height: 433px;
  position: relative;
  overflow: hidden; }

.ban2 {
  width: 674px;
  height: 432px;
  position: relative;
  overflow: hidden;
  float: left; }

.ban2 ul {
  position: absolute;
  left: 0;
  top: 0; }

.ban2 ul li {
  width: 674px;
  height: 432px; }

.ban2 ul li img {
  width: 674px;
  height: 432px; }

.prev {
  float: left;
  cursor: pointer; }

.num {
  height: 432px;
  overflow: hidden;
  width: 220px;
  position: relative; }

.min_pic {
  width: 220px;
  float: right; }

.num ul {
  position: absolute;
  left: 0;
  top: 0; }

.num ul li {
  width: 220px;
  height: 140px;
  padding: 1px;
  margin-bottom: 3px; }

.num ul li img {
  width: 220px;
  height: 140px; }

.num ul li.on {
  border: 2px solid #FCB616;
  padding: 0; }

.prev_btn1 {
  width: 16px;
  text-align: center;
  height: 18px;
  cursor: pointer; }

.next_btn1 {
  width: 16px;
  text-align: center;
  height: 18px;
  cursor: pointer; }

.prev1 {
  position: absolute;
  top: 220px;
  left: 20px;
  width: 28px;
  height: 51px;
  z-index: 9;
  cursor: pointer; }

.next1 {
  position: absolute;
  top: 220px;
  right: 20px;
  width: 28px;
  height: 51px;
  z-index: 9;
  cursor: pointer; }

.mhc {
  background: #000;
  width: 100%;
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter: alpha(Opacity=50);
  position: absolute;
  left: 0;
  top: 0;
  display: none; }

.pop_up {
  width: 500px;
  height: 500px;
  padding: 10px;
  background: #fff;
  position: fixed;
  -position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -255px;
  margin-top: -255px;
  display: none;
  z-index: 99; }

.pop_up_xx {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -40px;
  right: 0;
  cursor: pointer; }

.pop_up2 {
  width: 500px;
  height: 500px;
  position: relative;
  overflow: hidden; }

.pop_up2 {
  width: 500px;
  height: 500px;
  position: relative;
  overflow: hidden;
  float: left; }

.pop_up2 ul {
  position: absolute;
  left: 0;
  top: 0; }

.pop_up2 ul li {
  width: 500px;
  height: 500px;
  float: left; }

/*详情页*/
.detail {
  padding: 50px 0; }
  .detail .detail-container {
    background: #fff;
    height: 630px;
    margin-bottom: 50px; }
    .detail .detail-container .titlebox {
      height: 120px;
      overflow: hidden;
      position: relative; }
      .detail .detail-container .titlebox i {
        display: block;
        width: 90px;
        height: 90px;
        background: url("../images/detail/angle_xiangqing.png") no-repeat left top;
        position: absolute;
        left: 0;
        top: 0; }
      .detail .detail-container .titlebox p {
        margin: 64px 0 0 54px; }
        .detail .detail-container .titlebox p span {
          font-size: 30px; }
        .detail .detail-container .titlebox p strong {
          font-size: 20px; }
        .detail .detail-container .titlebox p b {
          color: #3d3d3d;
          font-size: 20px; }
    .detail .detail-container .detail-banner {
      width: 900px;
      height: 434px;
      margin: 30px auto 30px; }
  .detail .detail-container2 {
    background: #fff;
    min-height: 1000px;
    overflow: hidden; }
    .detail .detail-container2 h3 {
      width: 250px;
      height: 30px;
      background: url("../images/detail/feeling_tits.png") no-repeat left -561px;
      margin-top: 30px;
      margin-bottom: 30px; }
    .detail .detail-container2 .list li {
      text-align: center; }
      .detail .detail-container2 .list li img {
        display: block;
        width: 740px;
        margin: 0 auto; }
      .detail .detail-container2 .list li p {
        width: 740px;
        margin: 20px auto 20px;
        line-height: 20px;
        color: #7d7d7d; }
