.register {
  height: 793px;
  position: relative; }
  .register .register-box {
    width: 635px;
    height: 541px;
    background: #f5f5f5;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center; }
    .register .register-box h3 {
      font-size: 24px;
      color: #363636;
      margin-top: 55px; }
    .register .register-box span {
      display: block;
      font-size: 16px;
      margin-top: 15px;
      margin-bottom: 30px; }
    .register .register-box .txt {
      width: 271px;
      height: 34px;
      border: 1px solid #dcdcdc;
      border-radius: 10px;
      color: #a9a9a9;
      padding: 0 15px; }
    .register .register-box .btn {
      width: 286px;
      height: 34px;
      background: #50c8d7;
      border-radius: 10px;
      margin-top: 8px;
      margin-bottom: 28px;
      color: #fff;
      font-size: 14px;
      font-weight: bold; }
    .register .register-box p {
      color: #707070;
      margin-bottom: 25px; }
      .register .register-box p a {
        color: #50c8d7; }
    .register .register-box i {
      display: block;
      width: 300px;
      height: 28px;
      background: url("../images/register/huo.png") no-repeat left top;
      margin: 0 auto 20px; }
    .register .register-box b {
      color: #707070;
      display: block;
      margin-bottom: 20px; }
    .register .register-box ul {
      overflow: hidden;
      margin-left: 176px; }
      .register .register-box ul li {
        float: left;
        margin-right: 15px; }
        .register .register-box ul li a {
          display: block;
          width: 60px;
          height: 65px; }
      .register .register-box ul .douban a {
        background: url("../images/common/login_way_icon.png") no-repeat left top; }
        .register .register-box ul .douban a:hover {
          background: url("../images/common/login_way_icon.png") no-repeat -75px top; }
      .register .register-box ul .weibo a {
        background: url("../images/common/login_way_icon.png") no-repeat left -75px; }
        .register .register-box ul .weibo a:hover {
          background: url("../images/common/login_way_icon.png") no-repeat -75px -75px; }
      .register .register-box ul .qq a {
        background: url("../images/common/login_way_icon.png") no-repeat left -155px; }
        .register .register-box ul .qq a:hover {
          background: url("../images/common/login_way_icon.png") no-repeat -75px -155px; }
      .register .register-box ul .weixin a {
        background: url("../images/common/login_way_icon.png") no-repeat left -238px; }
        .register .register-box ul .weixin a:hover {
          background: url("../images/common/login_way_icon.png") no-repeat -75px -238px; }
