.setting {
  height: 972px;
  width: 100%;
  background: #ededef; }
  .setting .setting-container {
    overflow: hidden;
    width: 1000px;
    margin: 0 auto; }
    .setting .setting-container .left {
      width: 732px;
      height: 810px;
      background: #fff;
      margin-top: 58px; }
      .setting .setting-container .left .title {
        height: 54px;
        border-bottom: 1px solid #eeeeef; }
        .setting .setting-container .left .title i {
          display: block;
          width: 22px;
          height: 22px;
          float: left;
          background: url("../images/personsetting/icoPng.png") no-repeat left -203px;
          margin-top: 25px;
          margin-left: 26px;
          margin-right: 16px; }
        .setting .setting-container .left .title h2 {
          font-size: 18px;
          color: #2f2f2f;
          float: left;
          margin-top: 25px; }
      .setting .setting-container .left .tabs {
        padding: 30px 0 30px 0;
        margin-left: 38px;
        overflow: hidden; }
        .setting .setting-container .left .tabs li {
          float: left;
          margin: 0 25px; }
          .setting .setting-container .left .tabs li a {
            color: #464646;
            font-size: 14px; }
            .setting .setting-container .left .tabs li a:hover {
              color: #50c8d7;
              border-bottom: 2px solid #50c8d7; }
      .setting .setting-container .left .content {
        width: 732px; }
        .setting .setting-container .left .content iframe {
          width: 732px;
          height: 660px;
          border: 0; }
    .setting .setting-container .right {
      width: 249px;
      height: 810px;
      background: #fff;
      margin-top: 58px; }
